---
BasedOnStyle: Chromium
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
---
Language: Cpp
BasedOnStyle: Chromium
ColumnLimit: 120
SortIncludes: false
